
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div class="content">
    <a href="/categories/new">
        <button class="success-button">Create New Post</button>
    </a>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each c}}
    <tr>
        <td>{{this.category_id}}</td>
        <td ><a href="/categories/{{this.category_id}}">{{this.name}}</a></td>
        <td>{{this.name}}</td>
        <td>
            <button onclick="to_update_post('{{this.post_id}}')">Update</button>
            <button onclick="delete_post('{{this.post_id}}')">Delete</button>
        </td>
    </tr>
    {{/each}}
    </tbody>

</table>

</body>
</html>