<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
<h1>Posts</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {{#each c}}
        <tr>
            <td>{{this.title}}</td>
            <td><a href="/posts/{{this.post_id}}">{{this.description}}</a></td>
            <td>{{this.name}}</td>
        </tr>
    {{/each}}
    </tbody>

</table>


</body>
</html>
