<html>
<head>
    <title>
        Blog
    </title>

</head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" method="post">
<body>
<form action="/login" method ="post">
    <label for="username" >Username</label>
    <input type="text" placeholder="Enter Username" name="username"  class="form-control"  required><br>

    <label for="password">Password</label>
    <input type="password" placeholder="Enter Password" name="password"  class="form-control" required><br>
    <button>login</button>

    <p class="register">Not registered? <a href="/register"> Create an account</a></p>
</form>
</body>
</html>