
<!DOCTYPE html>
<html>
<head>
    <title>New POST</title>
</head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="background-color: $off-white;
    color: $black;
    font-family: $sans-serif;
    min-height: 100vh;
    width: 100%;


    display: flex;
    flex-direction: column;
    justify-content: center;
    ">

<h1 style="font-size: 50px;
      margin: 15vh 0 2rem;    margin-left: 780px;"> NEW POST</h1>
<form action="/admin/posts/new" method="post" style="align-self: center;">


    <input type="text" name="post_id" placeholder="post_id"   class="form-control" style="width: clamp(120px, 50vw, 420px);
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid $black;
      border-radius: 2px;
      margin: 0.625rem auto;
      transition: all 250ms;
      @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);"><br>
    <input type="text" name="title" placeholder="title"  class="form-control" style="width: clamp(120px, 50vw, 420px);
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid $black;
      border-radius: 2px;
      margin: 0.625rem auto;
      transition: all 250ms;
      @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);"><br>
    <input type="text" name="description" placeholder="description"  class="form-control" style="width: clamp(120px, 50vw, 420px);
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid $black;
      border-radius: 2px;
      margin: 0.625rem auto;
      transition: all 250ms;
      @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);"><br>
    <input type="text" name="name" placeholder="name"  class="form-control" style="width: clamp(120px, 50vw, 420px);
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid $black;
      border-radius: 2px;
      margin: 0.625rem auto;
      transition: all 250ms;
      @media (min-width: 768px) {
        width: clamp(120px, 35vw, 420px);"><br>
    <input type="submit" value="Submit" style="margin-left: 200px;">

</form>
</body>



</html>