
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    {{#each q}}
        <tr>
            <td>{{this.title}}</td>
            <td><a href="/posts/{{this.title}}">{{this.description}}</a></td>
            <td>{{this.name}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
</body>
</html>