<!DOCTYPE html>
<html>
<head>
    <title>Update POST</title>
</head>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<p>
    {{update_post}}
</p>
<h1> UPDATE POST</h1>
<form action="/edit" method="post">


    <input type="text" name="title" placeholder="title"  class="form-control"><br>
    <input type="text" name="description" placeholder="description"  class="form-control"><br>
    <input type="text" name="category_id" placeholder="category_id"  class="form-control"><br>
    <input type="submit" value="Submit">

</form>
</body>
</html>