<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-image : "https://img.freepik.com/free-vector/blue-curve-frame-template_53876-114605.jpg?w=2000"
}

.sidebar {
height: 100%;
width: 201px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;
}

.sidebars{
height: 100%;
    width: 201px;
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
background-color: lightblue;
    width: 216px;}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}




div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
    background-image : url("https://img.freepik.com/free-vector/blue-curve-frame-template_53876-114605.jpg?w=2000");
      background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }


@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="sidebar">

    <a class="active" href="#home">Home</a>
    <a href="/admin">Posts</a>
    <a href="/admin/categories">Categories</a>
</div>


<div class="content">
    <h1 style="margin-left: 30%;"> UPDATE CATEGORY</h1>
    UPDATE CATEGORY ID: {{to_be_updated_post}}
</p>
<form action="/categories/{{to_be_updated_post}}/edit" method="post">
    <input type="text" name="id"  value="{{to_be_updated_post}}"  placeholder="Please enter Id" class="form-control"><br>
    <input type="text" name="name"   placeholder="Please enter Name" class="form-control"><br>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>
